<template> <!-- The power of Lightning Web Components is the templating system, which uses the virtual DOM to render components smartly and efficiently. It’s a best practice to let LWC manipulate the DOM instead of writing JavaScript to do it. -->
    <lightning-card title={label.Greeting} icon-name="utility:connected_apps"> 
    <!-- <lightning:card title="{!$Label.c.Greeting}" iconName="utility:connected_apps" -->
        <div class="slds-m-around_medium">
            <h2>{label.Hello}, {name}!</h2>
            <p>{label.MyNameIs}: {newName}</p>
            <p>to rerender {greeting}</p>
            <c-change-name name={newName} onchangehandler={changeHandlerEvent}></c-change-name>
        <!--<c:changeName ... > -->
            <lightning-input label={label.NameInputParent} value={newName} placeholder="John Doe" onchange={changeHandler}></lightning-input>
        <!--<lightning:input label="{!$Label.c.NameInputParent}" value="{!v.newName}" placeholder="John Doe" onchange="{!c.changeHandler}"></lightning:input> -->
        </div>
    </lightning-card>
</template>